SOAP/Service References/ServiceReference1/ThreadPool.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="GetRId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="ReqString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GetRIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JobState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pid" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JobStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="JobStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Result">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Status">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="StatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRIdSoapIn">
    <wsdl:part name="parameters" element="s0:GetRId" />
  </wsdl:message>
  <wsdl:message name="GetRIdSoapOut">
    <wsdl:part name="parameters" element="s0:GetRIdResponse" />
  </wsdl:message>
  <wsdl:message name="JobStateSoapIn">
    <wsdl:part name="parameters" element="s0:JobState" />
  </wsdl:message>
  <wsdl:message name="JobStateSoapOut">
    <wsdl:part name="parameters" element="s0:JobStateResponse" />
  </wsdl:message>
  <wsdl:message name="ResultSoapIn">
    <wsdl:part name="parameters" element="s0:Result" />
  </wsdl:message>
  <wsdl:message name="ResultSoapOut">
    <wsdl:part name="parameters" element="s0:ResultResponse" />
  </wsdl:message>
  <wsdl:message name="StatusSoapIn">
    <wsdl:part name="parameters" element="s0:Status" />
  </wsdl:message>
  <wsdl:message name="StatusSoapOut">
    <wsdl:part name="parameters" element="s0:StatusResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="s0:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="s0:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="TheradPoolWebServiceSoap">
    <wsdl:operation name="GetRId">
      <wsdl:input message="s0:GetRIdSoapIn" />
      <wsdl:output message="s0:GetRIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JobState">
      <wsdl:input message="s0:JobStateSoapIn" />
      <wsdl:output message="s0:JobStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Result">
      <wsdl:input message="s0:ResultSoapIn" />
      <wsdl:output message="s0:ResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Status">
      <wsdl:input message="s0:StatusSoapIn" />
      <wsdl:output message="s0:StatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="s0:TestSoapIn" />
      <wsdl:output message="s0:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TheradPoolWebServiceSoap" type="s0:TheradPoolWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRId">
      <soap:operation soapAction="http://tempuri.org/ThreadPool.ThreadPoolWebService.GetRId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JobState">
      <soap:operation soapAction="http://tempuri.org/ThreadPool.ThreadPoolWebService.JobState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Result">
      <soap:operation soapAction="http://tempuri.org/ThreadPool.ThreadPoolWebService.Result" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Status">
      <soap:operation soapAction="http://tempuri.org/ThreadPool.ThreadPoolWebService.Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/ThreadPool.ThreadPoolWebService.Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TheradPoolWebService">
    <wsdl:port name="TheradPoolWebServiceSoap" binding="s0:TheradPoolWebServiceSoap">
      <soap:address location="http://localhost:57772/csp/samples/ThreadPool.ThreadPoolWebService.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>